.choice-container{
    display:flex;
    margin-bottom:0.5rem;
    width:100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);/*half transparent shadow*/
    transform: translateY(-0.1rem);/*move up by 1px*/
    transition:transofrm 150ms;/*moving up will be done in 150 miliseconds*/
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color:#56a5eb;
    color: white;
}
.choice-text{
    padding:1.5rem;
    width:100%;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
/*HEAD UP DISPLAY ELEMENTS*/
#head-up-display{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-up-prefix{
    text-align:center;
    font-size:2rem;/*it means 20px*/
}
.head-up-main-text{
    text-align:center;
}

/*PROGRESS BAR*/
#progressBar{
width:18rem;/*20*10px*/
height: 4rem;/*4*10px*/
border:0.3px solid #56a5eb;/*0.3*10px*/
margin-top:1rem;
}
#progressBarFull{
height:100%;;/*3.4*10px*/
background-color: #56a5eb;
}
#progressBarFull p{
    text-align:center;
    font-size:2rem;
    color:#fff;
    padding-bottom:0.7rem;padding-top:0.7rem;
}

#loader{
    height:12rem;
    width:12rem;
    border:2rem solid white;
    border-top: 2rem solid #56a5eb  ;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}